@font-face {
    font-family: 'Intro';
    src: local('Intro'), url('../../../styles/fonts/intro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


.container {
    width: 1172px;
    margin: auto;
    padding: 0;
}

.chooseHome{
    margin: 101px 0 200px 0;
}

.chooseText{
    color: #000;
    font-size: 24px;
    font-family: 'Open Sans';
    margin-bottom: 53px;
}

h2{
    color: #000;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: 28px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.chooseHomeItem{
    width: 448px;
    height: 263px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(230, 228, 224, 0.80);
    margin: 0 30px 40px 0;
    padding: 42px 96px 42px 65px;
}

.chooseHomeItem p{
    color: #000;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 28px;
}

.chooseLink{
    color: #000;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    text-decoration-line: underline;
}

.chooseTextBelow{
    color: #000;
    font-size: 14px;
    font-family: 'Open Sans';
    margin-top: 134px;
}